.container {
	padding: 20px 0;
}

.tittle {
	margin-bottom: 15px;
}

.photosAlbum {
	display: grid;
	grid-template-columns: auto auto auto;
	justify-content: center;
	grid-gap: 20px;
}
.navigations{
	margin-top: 25px;
	text-align: center;
}
.moreAlbum {
	background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color: #ffffff;
	border-radius: 6px;
	border: 1px solid #dcdcdc;
	display: inline-block;
	cursor: pointer;
	color: #666666;
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	padding: 6px 16px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #ffffff;
	-webkit-box-shadow: 0px 5px 14px -2px rgba(34, 60, 80, 0.6);
	-moz-box-shadow: 0px 5px 14px -2px rgba(34, 60, 80, 0.6);
	box-shadow: 0px 5px 14px -2px rgba(34, 60, 80, 0.6);
	transition: box-shadow 300ms;
}

.moreAlbum:hover {
	background: linear-gradient(to bottom, #ffffff 20%, #dfdfdf 100%);
	background-color: #f6f6f6;
	-webkit-box-shadow: 0px 2px 14px -2px rgba(34, 60, 80, 0.6);
	-moz-box-shadow: 0px 2px 14px -2px rgba(34, 60, 80, 0.6);
	box-shadow: 0px 2px 14px -2px rgba(34, 60, 80, 0.6);
}

.moreAlbum:active {
	position: relative;
	top: 1px;
}