
.correctAnswer {
    color: rgb(0, 204, 44);
}
.unCorrectAnswer {
    color: rgb(255, 0, 0);
}
.correctAnswer span, .unCorrectAnswer span {
    font-size: 16px;
    font-weight: 600;
    border-bottom: 1px solid
}
.question {
    text-align: center;
    margin-top: 20px;
    font-weight: 600;
}
.navigation {
    text-align: center;
    margin-top: 10px;
}
.recd {
    color: #378de5;
    font-size: 14px;
    margin-left: 10px;
}
.answerOptions {
    display: grid;
    grid-template-columns: 130px 130px;
    grid-gap: 10px;
    justify-content: center;
    margin-top: 20px;
}
.possibleAnswer {
    position: relative;
	box-shadow:inset -9px -9px 0px -18px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:8px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:16px 26px;
	text-decoration:none;
    outline: none;
}
.possibleAnswer:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}
.possibleAnswer:active {
	position:relative;
	top:1px;
}
.possibleAnswer:disabled {
    background: rgb(122, 122, 122);
    color: #fff;
    text-shadow: none;
    cursor: auto;
}
.possibleAnswerOk:disabled  {
    background: rgb(60, 161, 255);
}
.done_correct:disabled {
    background: rgb(7, 170, 1);
    border: 1px solid rgb(121, 255, 58);
}
.done_unCorrect:disabled {
    background: rgb(255, 0, 0);
    border: 1px solid rgb(255, 76, 31);
}
.done_info {
    position: absolute;
    bottom: -5px;
    left: 34px;
    font-size: 10px;
    font-weight: normal;
}