.menu {
    text-align: center;
}
.menu_container {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 10px;
    border-bottom: 2px solid rgba(121, 121, 121, 0.527);
}
.menu_list {
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}
.menu_item {
    margin: 0 10px;
    font-weight: bold;
}
.menu_item:hover {
    cursor: pointer;
    color: rgb(143, 143, 143);
    opacity: 0.7;
}