.containerTask {
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
  align-items: center;
  border-radius: 10px;
  padding: 0 10px;
}
.taskDone {
  color: rgb(18, 88, 0);
}
.taskDoneAll {
  background-color: rgba(0, 255, 115, 0.507);
}
.task {
  width: 100%;
  border-bottom: 3px dashed rgba(0, 0, 0, 0.507);
  margin: 10px 5px;
  padding: 0 10px;
}
.task_info {
  display: flex;
  justify-content: space-between;
  word-break: break-all;
}
.task_text {
  align-self: center;
  font-weight: 600;
  font-style: italic;
  max-width: 85%;
}
.checked, .unChecked {
  border: 3px solid rgb(0, 0, 0);
  padding: 2px;
}
.unChecked {
  color: white;
}
.times {
  color: red;
  font-size: 20px;
  margin-left: 5px;
}  
.task_input {
  border: none;
  outline: none;
  background: none;
  width: 92%;
  font-weight: 600;
  font-style: italic;
}
.task_data {
  font-size: 10px;
  align-self: flex-end;
  text-align: right;
  color: rgb(71, 71, 71);
  font-weight: 300;
}
.editTask_button,.editTask_TimesButton {
  font-size: 25px;
  margin-left: 5px;
}
.editTask_button {
  color: green;
}
.editTask_TimesButton {
  color: red;
}
.checked:hover, .unChecked:hover, .times:hover, .edit:hover, .editTask_button:hover, .editTask_TimesButton:hover {
  cursor: pointer;
  opacity: 0.7;
}
.popUpWindow_container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.507);
}
.popUpWindow {
  position: absolute;
  background-color: #fff  ;
  border-radius: 10px;
  padding: 15px 20px;
}
.popUpWindow h3 {
  margin: 0px;
}
.popUpWindow_unShow {
  display: none;
}
.popUpWindow_button {
  text-align: right;
}

@media screen and (max-width: 530px) {
  .containerTask {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
    align-items: center;
    border-radius: 10px;
    padding: 0 10px;
  }
  .taskDone {
    color: rgb(18, 88, 0);
  }
  .taskDoneAll {
    background-color: rgba(0, 255, 115, 0.507);
  }
  .task {
    width: 100%;
    border-bottom: 3px dashed rgba(0, 0, 0, 0.507);
    margin: 10px 5px;
    padding: 0 10px;
  }
  .task_text {
  font-size: 12px;
  }
 }