.containerTask {
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
  align-items: center;
  border-radius: 10px;
  padding: 0 10px;
}
.taskDone {
  color: rgb(18, 88, 0);
}
.taskDoneAll {
  background-color: rgba(0, 255, 115, 0.507);
}
.taskText {
  width: 100%;
  border-bottom: 3px dashed rgba(0, 0, 0, 0.507);
  margin: 10px 5px;
  padding: 0 10px;
  font-weight: 600;
  font-style: italic
}
.checked, .unChecked {
  border: 3px solid rgb(0, 0, 0);
  padding: 2px;
}
.unChecked {
  color: white;
}
.times {
  color: red;
  font-size: 20px;
  margin-left: 5px;
}  
.checked:hover, .unChecked:hover, .times:hover, .edit:hover {
  font-size: 25px;
  cursor: pointer;
  opacity: 0.7;
}
.editTask_input {
  border: none;
  outline: none;
  width: 92%;
}
.editTask_button {
  color: green;
  margin-left: 5px;
}