.viewModal {
	width: 100%;
	height: 100%;
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.2);
	z-index: 999;
}
.viewModal_wrapper {
	position: relative;
	width: 400px;
	background-color: #fff;
	border: 1px solid rgb(160, 160, 160);
	padding: 20px 30px;
	margin: 10px;
	box-shadow: 1px 4px 20px 2px #ffffff;
}
.tittle {
	margin-bottom: 25px;
}
.submit_wrapper {
	text-align: right;
	padding-top: 10px;
}
.submit {
	box-shadow: inset 0px 5px 7px -1px #bbdaf7;
	background: linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	background-color: #79bbff;
	border-radius: 6px;
	border: 1px solid #84bbf3;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	padding: 6px 16px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #528ecc;
}

.submit:hover {
	background: linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color: #378de5;
}
.submit:active {
	position: relative;
	top: 1px;
}
.submit:disabled {
	cursor: auto;
	box-shadow: inset 0px 5px 7px -1px #797979;
	background: linear-gradient(to bottom, #797979 5%, #ffffff 100%);
	border: 1px solid #797979;
}
.editItem {
	display: flex;
	justify-content: flex-end;
	margin: 10px 0;
}
.editItem p {
	font-size: 14px;
	font-weight: bold;
	flex: 1;
}
.wrapperInput {
	flex: 2;
}
.input {
	width: 100%;
	border: none;
	border-bottom: 1px solid rgb(131, 131, 131);
	outline: none;
}
.iconDelete {
	position: absolute;
	right: 15px;
	top: 15px;
	font-size: 18px;
}
.iconDelete:hover {
	cursor: pointer;
	opacity: 0.6;
}
.hide {
	display: none;
}