.container {
    position: relative; 
}
.tikTakToe_wrapper, .priorityInfo_wrapper {
    position: relative;
    margin: 0 auto;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	background-color:#ededed;
	border-radius:6px;
}
.tikTakToe_wrapper {
    padding: 20px;
    width: 300px;
    height: 300px; 
}
.tikTakToe_tittleOpponent{
    position: absolute;
    font-size: 12px;
    top: -9px;
    left: 50%;
    transform:translate(-50%, 0);
}
.tikTakToe {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    justify-content: center;
    position: relative;
    animation: animated-opa 1s;
}
.zone {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border: 1px solid rgb(119, 119, 119);
    background-color: rgb(255, 255, 255);
}
.zone:hover {
    background-color: rgb(240, 240, 240);
}
.allLineWrapper {
    position: absolute;
    width: 300px;
    height: 300px;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}

.winLineVertical_wrapper, .winLineHorizontal_wrapper, .winLineDiagonal_wrapper {
    display: flex;
    justify-content: space-around;
    width: 300px;
    height: 300px;
    position: absolute;
}

.winLineDiagonal_wrapper {
position: relative;
}
.winLineHorizontal_wrapper {
    flex-direction: column;
}

.lineVertical , .lineHorizontal, .lineDiagonal_left, .lineDiagonal_right {
    width: 8px;
    background-color: none;
    border-radius: 40%;

}
.lineVertical {
    height: 300px;
    animation: animated-vertical 1s;
}
.lineHorizontal {
    width: 300px;
    height: 8px;
    animation: animated-horizontal 1s;
}
.lineDiagonal_left, .lineDiagonal_right {
    position: absolute;
    height: 410px;
    animation: animated-diagonal 1s;
}
.lineDiagonal_left {
    left: 0px;
}
.lineDiagonal_right {
    right: 0px;
    top: 7px;
}
.lineDiagonal_left {
    transform: rotate(-45deg);
    transform-origin: 100% 0 0;
}
.lineDiagonal_right {
    transform: rotate(45deg);
    transform-origin: 100% 0 0
}
.allLineHide {
    display: none;
}
.lineHideBlue {
    background-color: rgb(0, 28, 112);
    box-shadow: 0px 0px 16px 13px rgba(0, 13, 190, 0.2);
}
.lineHideYellow {
    background-color: rgb(221, 221, 26);
    box-shadow: 0px 0px 16px 13px rgb(153, 153, 15);
}
.circle {
    width: 50px;
    height: 50px;
    border: 13px solid rgb(221, 221, 26);
    border-radius: 50%;
    animation: show-circle-times 500ms;
}
.times {
    font-size: 95px;
    font-weight: 100;
    color: rgb(0, 28, 112);
    animation: show-circle-times 500ms;
}
.zoneWiner {
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(240, 240, 240);
}
.winner_container {
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}
.winner_icon {
    text-align: center;
}
.winner_icon .circle {
    width: 100px;
    height: 100px;
    border: 20px solid rgb(221, 221, 26);
    margin: 0 auto;
}
.winner_icon .times {
    font-size: 170px;
}
.winner_textTimes, .winner_textCircle, .draw_text{
    font-size: 24px;
    font-weight: bold;
}
.winner_textTimes {
    color: rgb(0, 28, 112);   
}
.winner_textCircle {
    color: rgb(175, 175, 22);   
}
.draw_icon {
    display: flex;
    align-items: center;
    gap: 30px;
}
.draw_text {
    text-align: center;
    color: rgb(30, 95, 0);   
}
.choosingOpponent_wrapper {
    position: absolute;
    top: 91px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 13, 190, 0.2);
}
.choosingOpponent_container {
    position: absolute;
    width: 250px;
    height: 100px;
    background-color: #fff;
    top:26%;
    left:50%;
    transform:translate(-50%, -50%);
    border: 1px solid rgb(119, 119, 119);
    border-radius: 10px;
    box-shadow: 0px 0px 16px 13px rgba(0, 13, 190, 0.2);
    padding: 10px 0;
}
.choosingOpponent {
    text-align: center;
}
.choosingOpponent_info {
    text-align: center;
    font-weight: bold;
}
.choosingOpponent_buttonChild, .choosingOpponent_buttonDesktop {
    box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
    padding: 8px 20px;
    margin: 0 5px;
    text-decoration:none;
    outline: none;
}
.choosingOpponent_buttonChild:hover, .choosingOpponent_buttonDesktop:hover {
	background:linear-gradient(to bottom, #03e47b 5%, #028649 100%);
    border:1px solid #00bd4f;
    box-shadow: 0px 0px 0px 2px #00a746;
}
.priorityInfo_wrapper {
    margin-bottom: 20px;
    padding: 10px;
    width: 100px;
    height: 60px
}
.priorityInfo {
    display: flex;
    height: 60px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color:#ffffff;
    border: 1px solid rgb(119, 119, 119);
}
.priorityInfo_title {
    font-weight: bold;
    height: 30px;
}
.priorityInfo_icon {
    height: 50px;
}
.priorityInfo .times {
    margin: 0 auto;
    font-size: 40px;
}
.priorityInfo .circle {
    margin: 0 auto;
    width: 20px;
    height: 20px;
    border: 6px solid rgb(221, 221, 26);
    border-radius: 50%;
}


@keyframes animated-horizontal {
    0%{
        width: 0px; 
    }
    100%{
        width: 300px;
    }
}
@keyframes animated-vertical {
    0%{
        height: 0px; 
    }
    100%{
        height: 300px;
    }
}
@keyframes animated-diagonal {
    0%{
        height: 0px; 
    }
    100%{
        height: 410px;
    }
}
@keyframes show-circle-times {
    0%{
        opacity: 0; 
    }
    100%{
        opacity: 1;
    }
}