@import './fonts/fonts.css';
@import "slick-carousel/slick/slick.css"; 
@import "slick-carousel/slick/slick-theme.css";

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
a {
  color: black;
  text-decoration: none;
}
body, input, textarea {
  margin: 0;
  font-family: 'Montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
li {
  list-style-type: none;
}
button {
  outline: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Slik slider */
